.navbar-inner-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.navbar-inner-div .navbar-separate {
  width: 1px;
  height: 13px;
  background-color: #ffffff;
  margin: 0 1rem;
}

.testimonial-content {
  height: 250px;
}

/* Mobile: 0px to 767px */
@media (max-width: 767px) {
  /* Styles for mobile devices */
  body {
    background: #FFF !important;
}
  .hero-content {
    flex-direction: column;
  }
  .navbar-inner-div .navbar-separate {
    display: none;
  }
  .logo {
    width: 100%;
    max-width: 226px;
  }
  .text-section {
    max-width: 100%;
    text-align: center;
  }
  .form-section {
    width: 100%;
    max-width: 500px;
    margin-top: 13px;
    padding: 1rem;
  }
  .hero-section .container {
    background: linear-gradient(to top, #1b4835 30px, transparent 111px);
  }
  .arrow-right,
  .arrow-left {
    display: none;
  }
  .dnonemobile {
    display: none;
  }
  .testimonial-content {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
  }
  .testimonial img {
      position: absolute;
    top: -56px;
    z-index: 999;
    width: 100%;
    max-width: 164px;
    height: auto;
        border-radius: 10px 10px 0 0px;
    object-fit: cover;
  }
  .testimonial-name {
    font-size: 19px;
    text-align: left;
            margin-top: 102px;
  }
  .testimonial-content p {
     text-align: left;
     font-size: 15px;
     font-weight: normal;
  }
  .testimonial-content {
  height: auto;
  margin-top: 66px;
}
    .testimonial-content::before {
        content: "❝";
        position: absolute;
        top: 23px;
        right: 10px;
        font-size: 119px;
        color: #2a7c6b;
    }


}

/* Tablet: 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  .hero-content {
    flex-direction: column;
  }
  .navbar-inner-div .navbar-separate {
    display: none;
  }
  .navbar-inner-div {
    flex-direction: column;
    align-items: self-end;
  }
  .logo {
    width: 100%;
    max-width: 226px;
  }
  .text-section {
    max-width: 80%;
    text-align: center;
  }
  .form-section {
    width: 55%;
    margin-top: 5px;
  }
  .arrow-right,
  .arrow-left {
    display: none;
  }
  .dnonelarge {
    display: none;
  }
}

/* Desktop: 1024px and up */
@media (min-width: 1024px) {
  /* Styles for desktops and larger screens */
  .logo {
    width: 100%;
    max-width: 226px;
  }
  .dnonelarge {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .testimonial {
    flex-direction: column;
  }

  .testimonial-content {
    text-align: center;
  }
}


@media (max-width: 1100px) {
  .older-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  .older-div img {
    width: 100%;
    height: 120px;
    border-radius: 8px;
  }
}


@media screen and (max-width: 768px) {
    .heading .description {
        flex-direction: column;

    }

    .inner-description {
        width: 100%;
    }

    .inner-orgination-text {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .inner-orgination-text {
        flex-direction: column;
    }

  .inner-paradiv {
    width: 100%;
  }
}


/* Optional smooth transition on resize */
@media (max-width: 768px) {
  .curve-img {
    height: auto;
    width: 100%;
  }
}


@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}





@media screen and (max-width: 768px) {
  .heading h2 {
    font-size: 20px;
  }

  .cta-box {
    font-size: 14px;
    padding: 20px;
  }
}


@media screen and (max-width: 768px) {
  .watch-video {
    margin-top: 1rem;
    background: url("./assets/curveBGMobile.png");
    background-position: center;
    padding: 0;
  }

  .left-section li h2 {
    font-size: 18px !important;
  }

  .left-section li p {
    font-size: 14px !important;
  }
}



@media (max-width: 768px) {
  .watch-video {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: 1 1 100%;
    padding: 30px;
  }

  .left-section h1 {
    font-size: 32px;
  }
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 10px;
  }

  .footer-right {
    /* flex-direction: column; */
    gap: 8px;
  }
}




@media screen and (max-width: 768px) {


  /* Show hamburger, hide desktop nav on mobile */
  .hamburger-btn {
    display: block;
  }

  .nav-links,
  .cta {
    display: none;
  }

  .text-section {
    max-width: 100%;
    text-align: center;
  }



  .form-section {
    width: 100%;
  }

  .form-section h2 {
    text-align: center;
  }

  .form-section input {
    width: 100%;
  }

  .form-section button {
    width: 100%;
  }

  .input-row {
    flex-direction: column;
  }

  footer {
    padding: 10px 0;
  }

  .footer {
    padding: 0;
  }

  .older-div {
    display: none;
  }

  .content-grid h2 {
    font-size: 24px;
  }
}
