.navbar-inner-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.navbar-inner-div .navbar-separate{
    width: 1px;
    height: 13px;
    background-color: #ffffff;
    margin: 0 1rem;
}




/* Mobile: 0px to 767px */
@media (max-width: 767px) {
  /* Styles for mobile devices */
    .navbar-inner-div .navbar-separate{
    display: none;
  }
}

/* Tablet: 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  .navbar-inner-div .navbar-separate{
    display: none;
  }
  .navbar-inner-div{
    flex-direction: column;
    align-items: self-end;
  }
}

/* Desktop: 1024px and up */
@media (min-width: 1024px) {
  /* Styles for desktops and larger screens */
}